.product-page{
    flex-wrap: nowrap;
    padding-top: 15vh;
    position: relative;
}

.page-header{
    /*margin-top: 15vh;*/
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-align: left;
    margin-left: 2rem;
    display: block;
}
.page-subheader{
    color: white;
    text-align: left;
    margin-left: 2rem;
    font-size: 0.9rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: thin darkgray solid;
    width: calc(100% - 4rem);
    margin-bottom: 1.5rem;
    display: block;
}

.products-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
}

.container{
    cursor: pointer;
    position: relative;
    width: 28vw;
    min-height: 40vh;
    margin-left: 2vw;
    margin-bottom: 2rem;
    background-color: #252525;
    border: thin black solid;
    border-radius: 0.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.product-name{
    color: white;
    font-size: 1.2rem;
    margin: auto;
}

.buy-button{
    color: white;
    border-radius: 0.3rem;
    border: thin #803EA8 solid;
    background-color: #803EA8;
    width: 30%;
    height: 2rem;
    margin: 0 auto;
    display: flex;
}

@media only screen and (max-width:1023px){
    .container{
        margin-left:4vw;
        margin-right:4vw;
        width: 92vw;
    }
}